<div class="how-it-privacy-text-section">
  <div class="container">
    <div class="how-it-privacy-text">
      {%- if section.settings.title != blank -%}
      <h2>{{ section.settings.title }}</h2>
      {%- endif -%}
      {%- if section.settings.desc != blank -%}
      <div class="how-it-privacy-text-desc">
        {{ section.settings.desc }}
      </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "How It Privacy Text",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "html",
        "id": "desc",
        "label": "Description"
      }
    ],
    "presets": [
      {
        "name": "How It Privacy Text",
        "category": "Text"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}